openapi: 3.0.0
info:
  version: '2023-05-26'
  title: K2 Admin Users Packages API
servers:
- url: https://api.kolide.com/
security:
- api_key: []
tags:
- name: Packages
paths:
  /packages:
    get:
      summary: Fetch a list of Packages
      parameters:
      - name: x-kolide-api-version
        in: header
        description: Specify the API version to be used
        required: false
        schema:
          type: string
          default: '2023-05-26'
      - name: cursor
        in: query
        description: Specify the cursor to begin returning results from
        required: false
        schema:
          type: string
          default: ''
      - name: per_page
        in: query
        description: Specify the number of records to return in each response.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 100
          minimum: 1
          default: 25
      responses:
        '200':
          description: A paginated collection of Packages
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: 'Installation packages are available for each of the major operating systems.

                      '
                    type: array
                    items:
                      $ref: '#/components/schemas/package'
                  pagination:
                    type: object
                    description: Information about the current and next pages of results
                    properties:
                      next:
                        type: string
                        format: uri
                        description: The full URL that should be used to fetch the next page of results. This will be blank if there are no more results to fetch
                        example: https://api.kolide.com/packages?per_page=10&cursor=Imyw
                      current_cursor:
                        type: string
                        description: the pagination cursor used to fetch this page of results
                        example: Miwy
                      next_cursor:
                        type: string
                        description: 'the pagination cursor that can be used to fetch the page of results following the current page. This will be blank if there are no more results to fetch '
                        example: NCw0
                      count:
                        type: integer
                        description: the number of records in the current page of results
                        example: 10
        '401':
          description: An 'unauthorized' response may occur for features restricted by or unavailable to your organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: an error message describing why the endpoint is unavailable
                    example: This feature has been disabled by your organization
        '403':
          description: A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: a succinct error message
                    example: Forbidden
                  message:
                    type: string
                    description: A longer-form error message explaining the reason for the response
                    example: The API key used is not authorized to perform this action
      tags:
      - Packages
  /packages/{id}:
    get:
      summary: Fetch information for a specific Package
      parameters:
      - name: x-kolide-api-version
        in: header
        description: Specify the API version to be used
        required: false
        schema:
          type: string
          default: '2023-05-26'
      - name: id
        in: path
        required: true
        description: The ID of the package
        schema:
          type: string
      responses:
        '200':
          description: 'Installation packages are available for each of the major operating systems.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/package'
        '401':
          description: An 'unauthorized' response may occur for features restricted by or unavailable to your organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: an error message describing why the endpoint is unavailable
                    example: This feature has been disabled by your organization
        '403':
          description: A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: a succinct error message
                    example: Forbidden
                  message:
                    type: string
                    description: A longer-form error message explaining the reason for the response
                    example: The API key used is not authorized to perform this action
      tags:
      - Packages
components:
  schemas:
    package:
      type: object
      properties:
        built_at:
          type: string
          description: The timestamp describing when the installation package was built
          format: date-time
        id:
          type: string
          description: The unique identifier for the package
        url:
          type: string
          description: The URL that can be used to download the installation package. Requests to this url require the standard Authorization header needed for all API requests
        version:
          type: string
          description: The version of the Launcher agent that will be installed by the package
  securitySchemes:
    api_key:
      type: http
      scheme: bearer
