openapi: 3.0.0
info:
  version: '2023-05-26'
  title: K2 Admin Users API
servers:
- url: https://api.kolide.com/
security:
- api_key: []
tags:
- name: Admin Users
paths:
  /admin_users:
    get:
      summary: Fetch a list of Admin users
      parameters:
      - name: x-kolide-api-version
        in: header
        description: Specify the API version to be used
        required: false
        schema:
          type: string
          default: '2023-05-26'
      - name: cursor
        in: query
        description: Specify the cursor to begin returning results from
        required: false
        schema:
          type: string
          default: ''
      - name: per_page
        in: query
        description: Specify the number of records to return in each response.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 100
          minimum: 1
          default: 25
      - name: query
        in: query
        description: "A query clause used to filter the set of resources returned. Use\n`:` for exact matches (including for boolean fields), `~` for\npartial-string matches. `:[\"a\",\"b\",\"c\"]` or `:[1,2,3]`\ncan be used for fields that support multi-value search.\n Datetime fields support exact-matching\n(`:`) as well as less-than (`<`) and greater-than (`>`). The\nsearchable fields are:\n\n`first_name` , `last_name` , `email` , `created_at`\n\nSearch clauses can be combined with the ` AND ` and ` OR ` operators.\n\nFor more information, see the [search documentation](https://www.kolide.com/docs/developers/api#search).\n"
        required: false
        examples:
          'first_name:':
            summary: search the 'first_name' property of the Admin User records using ':' operator
            value: first_name:string
          first_name~:
            summary: search the 'first_name' property of the Admin User records using '~' operator
            value: first_name~string
          'last_name:':
            summary: search the 'last_name' property of the Admin User records using ':' operator
            value: last_name:string
          last_name~:
            summary: search the 'last_name' property of the Admin User records using '~' operator
            value: last_name~string
          'email:':
            summary: search the 'email' property of the Admin User records using ':' operator
            value: email:string
          email~:
            summary: search the 'email' property of the Admin User records using '~' operator
            value: email~string
          'created_at:':
            summary: search the 'created_at' property of the Admin User records using ':' operator
            value: created_at:2000-01-08T20:38:21Z
          created_at<:
            summary: search the 'created_at' property of the Admin User records using '<' operator
            value: created_at<2000-01-08T20:38:21Z
          created_at>:
            summary: search the 'created_at' property of the Admin User records using '>' operator
            value: created_at>2000-01-08T20:38:21Z
        schema:
          type: string
      responses:
        '200':
          description: A paginated collection of Admin users
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: 'Admin Users are those with access to the Kolide dashboard. Depending

                      on your organization''s restrictions, they are able to view and

                      manage checks, devices, users, and other settings.

                      '
                    type: array
                    items:
                      $ref: '#/components/schemas/admin_user'
                  pagination:
                    type: object
                    description: Information about the current and next pages of results
                    properties:
                      next:
                        type: string
                        format: uri
                        description: The full URL that should be used to fetch the next page of results. This will be blank if there are no more results to fetch
                        example: https://api.kolide.com/admin_users?per_page=10&cursor=Imyw
                      current_cursor:
                        type: string
                        description: the pagination cursor used to fetch this page of results
                        example: Miwy
                      next_cursor:
                        type: string
                        description: 'the pagination cursor that can be used to fetch the page of results following the current page. This will be blank if there are no more results to fetch '
                        example: NCw0
                      count:
                        type: integer
                        description: the number of records in the current page of results
                        example: 10
        '401':
          description: An 'unauthorized' response may occur for features restricted by or unavailable to your organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: an error message describing why the endpoint is unavailable
                    example: This feature has been disabled by your organization
        '403':
          description: A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: a succinct error message
                    example: Forbidden
                  message:
                    type: string
                    description: A longer-form error message explaining the reason for the response
                    example: The API key used is not authorized to perform this action
      tags:
      - Admin Users
  /admin_users/{id}:
    get:
      summary: Fetch information for a specific Admin user
      parameters:
      - name: x-kolide-api-version
        in: header
        description: Specify the API version to be used
        required: false
        schema:
          type: string
          default: '2023-05-26'
      - name: id
        in: path
        required: true
        description: The ID of the admin user
        schema:
          type: string
      responses:
        '200':
          description: 'Admin Users are those with access to the Kolide dashboard. Depending

            on your organization''s restrictions, they are able to view and

            manage checks, devices, users, and other settings.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/admin_user'
        '401':
          description: An 'unauthorized' response may occur for features restricted by or unavailable to your organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: an error message describing why the endpoint is unavailable
                    example: This feature has been disabled by your organization
        '403':
          description: A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: a succinct error message
                    example: Forbidden
                  message:
                    type: string
                    description: A longer-form error message explaining the reason for the response
                    example: The API key used is not authorized to perform this action
      tags:
      - Admin Users
components:
  schemas:
    admin_user:
      type: object
      properties:
        id:
          type: string
          description: The canonical identifier for this admin user
        first_name:
          type: string
          description: The first name of the admin user
        last_name:
          type: string
          description: The last name of the admin user
        email:
          type: string
          description: The email address for this admin user
        created_at:
          type: string
          description: when the admin user account was created
          format: date-time
        access:
          type: string
          description: 'The access level granted to this admin user. One of: ''full'', ''limited'' or ''billing_only'''
        restrictions:
          description: The feature restrictions applied to this user. This list will be empty unless the user has an access level of 'limited'
          type: array
          items:
            type: string
  securitySchemes:
    api_key:
      type: http
      scheme: bearer
