openapi: 3.0.0
info:
  version: '2023-05-26'
  title: K2 Admin Users Devices API
servers:
- url: https://api.kolide.com/
security:
- api_key: []
tags:
- name: Devices
paths:
  /devices/{deviceId}/open_issues:
    get:
      summary: Fetch a list of Issues
      parameters:
      - name: x-kolide-api-version
        in: header
        description: Specify the API version to be used
        required: false
        schema:
          type: string
          default: '2023-05-26'
      - name: cursor
        in: query
        description: Specify the cursor to begin returning results from
        required: false
        schema:
          type: string
          default: ''
      - name: per_page
        in: query
        description: Specify the number of records to return in each response.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 100
          minimum: 1
          default: 25
      - name: query
        in: query
        description: "A query clause used to filter the set of resources returned. Use\n`:` for exact matches (including for boolean fields), `~` for\npartial-string matches. `:[\"a\",\"b\",\"c\"]` or `:[1,2,3]`\ncan be used for fields that support multi-value search.\n Datetime fields support exact-matching\n(`:`) as well as less-than (`<`) and greater-than (`>`). The\nsearchable fields are:\n\n`id` , `detected_at` , `resolved_at` , `blocks_device_at` , `title` , `issue_key` , `issue_value` , `exempted` , `check_id` , `device_id` , `last_rechecked_at`\n\nSearch clauses can be combined with the ` AND ` and ` OR ` operators.\n\nFor more information, see the [search documentation](https://www.kolide.com/docs/developers/api#search).\n"
        required: false
        examples:
          'id:':
            summary: search the 'id' property of the Issue records
            value: id:["a", "b", "c"]
          'detected_at:':
            summary: search the 'detected_at' property of the Issue records using ':' operator
            value: detected_at:2000-01-08T20:38:21Z
          detected_at<:
            summary: search the 'detected_at' property of the Issue records using '<' operator
            value: detected_at<2000-01-08T20:38:21Z
          detected_at>:
            summary: search the 'detected_at' property of the Issue records using '>' operator
            value: detected_at>2000-01-08T20:38:21Z
          'resolved_at:':
            summary: search the 'resolved_at' property of the Issue records using ':' operator
            value: resolved_at:2000-01-08T20:38:21Z
          resolved_at<:
            summary: search the 'resolved_at' property of the Issue records using '<' operator
            value: resolved_at<2000-01-08T20:38:21Z
          resolved_at>:
            summary: search the 'resolved_at' property of the Issue records using '>' operator
            value: resolved_at>2000-01-08T20:38:21Z
          'blocks_device_at:':
            summary: search the 'blocks_device_at' property of the Issue records using ':' operator
            value: blocks_device_at:2000-01-08T20:38:21Z
          blocks_device_at<:
            summary: search the 'blocks_device_at' property of the Issue records using '<' operator
            value: blocks_device_at<2000-01-08T20:38:21Z
          blocks_device_at>:
            summary: search the 'blocks_device_at' property of the Issue records using '>' operator
            value: blocks_device_at>2000-01-08T20:38:21Z
          'title:':
            summary: search the 'title' property of the Issue records using ':' operator
            value: title:string
          title~:
            summary: search the 'title' property of the Issue records using '~' operator
            value: title~string
          'issue_key:':
            summary: search the 'issue_key' property of the Issue records using ':' operator
            value: issue_key:string
          issue_key~:
            summary: search the 'issue_key' property of the Issue records using '~' operator
            value: issue_key~string
          'issue_value:':
            summary: search the 'issue_value' property of the Issue records using ':' operator
            value: issue_value:string
          issue_value~:
            summary: search the 'issue_value' property of the Issue records using '~' operator
            value: issue_value~string
          'exempted:':
            summary: search the 'exempted' property of the Issue records using ':' operator
            value: exempted:true
          'check_id:':
            summary: search the 'check_id' property of the Issue records using ':' operator
            value: check_id:string
          check_id~:
            summary: search the 'check_id' property of the Issue records using '~' operator
            value: check_id~string
          'device_id:':
            summary: search the 'device_id' property of the Issue records using ':' operator
            value: device_id:string
          device_id~:
            summary: search the 'device_id' property of the Issue records using '~' operator
            value: device_id~string
          'last_rechecked_at:':
            summary: search the 'last_rechecked_at' property of the Issue records using ':' operator
            value: last_rechecked_at:2000-01-08T20:38:21Z
          last_rechecked_at<:
            summary: search the 'last_rechecked_at' property of the Issue records using '<' operator
            value: last_rechecked_at<2000-01-08T20:38:21Z
          last_rechecked_at>:
            summary: search the 'last_rechecked_at' property of the Issue records using '>' operator
            value: last_rechecked_at>2000-01-08T20:38:21Z
        schema:
          type: string
      - name: deviceId
        in: path
        required: true
        description: The device ID of the issue
        schema:
          type: string
      responses:
        '200':
          description: A paginated collection of Issues
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: 'An Issue is created when a device fails a check. Some checks, when

                      they fail, will produce multiple Issues, each with a unique

                      primary_key_value.

                      '
                    type: array
                    items:
                      $ref: '#/components/schemas/issue'
                  pagination:
                    type: object
                    description: Information about the current and next pages of results
                    properties:
                      next:
                        type: string
                        format: uri
                        description: The full URL that should be used to fetch the next page of results. This will be blank if there are no more results to fetch
                        example: https://api.kolide.com/open_issues?per_page=10&cursor=Imyw
                      current_cursor:
                        type: string
                        description: the pagination cursor used to fetch this page of results
                        example: Miwy
                      next_cursor:
                        type: string
                        description: 'the pagination cursor that can be used to fetch the page of results following the current page. This will be blank if there are no more results to fetch '
                        example: NCw0
                      count:
                        type: integer
                        description: the number of records in the current page of results
                        example: 10
        '401':
          description: An 'unauthorized' response may occur for features restricted by or unavailable to your organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: an error message describing why the endpoint is unavailable
                    example: This feature has been disabled by your organization
        '403':
          description: A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: a succinct error message
                    example: Forbidden
                  message:
                    type: string
                    description: A longer-form error message explaining the reason for the response
                    example: The API key used is not authorized to perform this action
      tags:
      - Devices
  /devices/{deviceId}/authentication_mode:
    patch:
      summary: Update an existing Device authentication mode
      parameters:
      - name: x-kolide-api-version
        in: header
        description: Specify the API version to be used
        required: false
        schema:
          type: string
          default: '2023-05-26'
      - name: deviceId
        in: path
        required: true
        description: The device ID of the device authentication mode
        schema:
          type: string
      responses:
        '200':
          description: The updated Device authentication mode
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/device_authentication_mode'
        '401':
          description: An 'unauthorized' response may occur for features restricted by or unavailable to your organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: an error message describing why the endpoint is unavailable
                    example: This feature has been disabled by your organization
        '403':
          description: A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: a succinct error message
                    example: Forbidden
                  message:
                    type: string
                    description: A longer-form error message explaining the reason for the response
                    example: The API key used is not authorized to perform this action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/device_authentication_mode_request_body'
      tags:
      - Devices
    put:
      summary: Update an existing Device authentication mode
      parameters:
      - name: x-kolide-api-version
        in: header
        description: Specify the API version to be used
        required: false
        schema:
          type: string
          default: '2023-05-26'
      - name: deviceId
        in: path
        required: true
        description: The device ID of the device authentication mode
        schema:
          type: string
      responses:
        '200':
          description: The updated Device authentication mode
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/device_authentication_mode'
        '401':
          description: An 'unauthorized' response may occur for features restricted by or unavailable to your organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: an error message describing why the endpoint is unavailable
                    example: This feature has been disabled by your organization
        '403':
          description: A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: a succinct error message
                    example: Forbidden
                  message:
                    type: string
                    description: A longer-form error message explaining the reason for the response
                    example: The API key used is not authorized to perform this action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/device_authentication_mode_request_body'
      tags:
      - Devices
  /devices/{deviceId}/registration:
    delete:
      summary: Delete a device registration
      description: 'Remove an existing device registration. This will prevent the

        registered owner from authenticating with the device. If this device

        is the only registered device for the person, their

        Trust-On-First-Use (TOFU) status will be reset, allowing them to

        register another device without needing admin approval. Deleting a

        mobile device''s registration will also remove the device from the

        Kolide.

        '
      parameters:
      - name: x-kolide-api-version
        in: header
        description: Specify the API version to be used
        required: false
        schema:
          type: string
          default: '2023-05-26'
      - name: deviceId
        in: path
        required: true
        description: The device ID of the device registration
        schema:
          type: string
      responses:
        '200':
          description: The deleted Device registration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/device_registration'
        '401':
          description: An 'unauthorized' response may occur for features restricted by or unavailable to your organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: an error message describing why the endpoint is unavailable
                    example: This feature has been disabled by your organization
        '403':
          description: A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: a succinct error message
                    example: Forbidden
                  message:
                    type: string
                    description: A longer-form error message explaining the reason for the response
                    example: The API key used is not authorized to perform this action
      tags:
      - Devices
  /devices/{deviceId}/check_refreshes:
    post:
      summary: Create a new Check refresh
      parameters:
      - name: x-kolide-api-version
        in: header
        description: Specify the API version to be used
        required: false
        schema:
          type: string
          default: '2023-05-26'
      - name: deviceId
        in: path
        required: true
        description: The device ID of the check refresh
        schema:
          type: string
      responses:
        '200':
          description: The newly created Check refresh
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/check_refresh'
        '401':
          description: An 'unauthorized' response may occur for features restricted by or unavailable to your organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: an error message describing why the endpoint is unavailable
                    example: This feature has been disabled by your organization
        '403':
          description: A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: a succinct error message
                    example: Forbidden
                  message:
                    type: string
                    description: A longer-form error message explaining the reason for the response
                    example: The API key used is not authorized to perform this action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/check_refresh_request_body'
      tags:
      - Devices
  /devices/{deviceId}/check_results:
    get:
      summary: Fetch a list of Check results
      parameters:
      - name: x-kolide-api-version
        in: header
        description: Specify the API version to be used
        required: false
        schema:
          type: string
          default: '2023-05-26'
      - name: cursor
        in: query
        description: Specify the cursor to begin returning results from
        required: false
        schema:
          type: string
          default: ''
      - name: per_page
        in: query
        description: Specify the number of records to return in each response.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 100
          minimum: 1
          default: 25
      - name: query
        in: query
        description: "A query clause used to filter the set of resources returned. Use\n`:` for exact matches (including for boolean fields), `~` for\npartial-string matches. `:[\"a\",\"b\",\"c\"]` or `:[1,2,3]`\ncan be used for fields that support multi-value search.\n Datetime fields support exact-matching\n(`:`) as well as less-than (`<`) and greater-than (`>`). The\nsearchable fields are:\n\n`device_display_name` , `ran_at` , `check_name` , `status`\n\nSearch clauses can be combined with the ` AND ` and ` OR ` operators.\n\nFor more information, see the [search documentation](https://www.kolide.com/docs/developers/api#search).\n"
        required: false
        examples:
          'device_display_name:':
            summary: search the 'device_display_name' property of the Check Results records using ':' operator
            value: device_display_name:string
          device_display_name~:
            summary: search the 'device_display_name' property of the Check Results records using '~' operator
            value: device_display_name~string
          'ran_at:':
            summary: search the 'ran_at' property of the Check Results records using ':' operator
            value: ran_at:2000-01-08T20:38:21Z
          ran_at<:
            summary: search the 'ran_at' property of the Check Results records using '<' operator
            value: ran_at<2000-01-08T20:38:21Z
          ran_at>:
            summary: search the 'ran_at' property of the Check Results records using '>' operator
            value: ran_at>2000-01-08T20:38:21Z
          'check_name:':
            summary: search the 'check_name' property of the Check Results records using ':' operator
            value: check_name:string
          check_name~:
            summary: search the 'check_name' property of the Check Results records using '~' operator
            value: check_name~string
          'status:':
            summary: search the 'status' property of the Check Results records using ':' operator
            value: status:enumerated-value
        schema:
          type: string
      - name: deviceId
        in: path
        required: true
        description: The device ID of the check
        schema:
          type: string
      responses:
        '200':
          description: A paginated collection of Check results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: 'A Check Result describes the data returned the last time a check ran on a single device.

                      '
                    type: array
                    items:
                      $ref: '#/components/schemas/check_result'
                  pagination:
                    type: object
                    description: Information about the current and next pages of results
                    properties:
                      next:
                        type: string
                        format: uri
                        description: The full URL that should be used to fetch the next page of results. This will be blank if there are no more results to fetch
                        example: https://api.kolide.com/check_results?per_page=10&cursor=Imyw
                      current_cursor:
                        type: string
                        description: the pagination cursor used to fetch this page of results
                        example: Miwy
                      next_cursor:
                        type: string
                        description: 'the pagination cursor that can be used to fetch the page of results following the current page. This will be blank if there are no more results to fetch '
                        example: NCw0
                      count:
                        type: integer
                        description: the number of records in the current page of results
                        example: 10
        '401':
          description: An 'unauthorized' response may occur for features restricted by or unavailable to your organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: an error message describing why the endpoint is unavailable
                    example: This feature has been disabled by your organization
        '403':
          description: A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: a succinct error message
                    example: Forbidden
                  message:
                    type: string
                    description: A longer-form error message explaining the reason for the response
                    example: The API key used is not authorized to perform this action
      tags:
      - Devices
  /devices:
    get:
      summary: Fetch a list of Devices
      parameters:
      - name: x-kolide-api-version
        in: header
        description: Specify the API version to be used
        required: false
        schema:
          type: string
          default: '2023-05-26'
      - name: cursor
        in: query
        description: Specify the cursor to begin returning results from
        required: false
        schema:
          type: string
          default: ''
      - name: per_page
        in: query
        description: Specify the number of records to return in each response.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 100
          minimum: 1
          default: 25
      - name: query
        in: query
        description: "A query clause used to filter the set of resources returned. Use\n`:` for exact matches (including for boolean fields), `~` for\npartial-string matches. `:[\"a\",\"b\",\"c\"]` or `:[1,2,3]`\ncan be used for fields that support multi-value search.\n Datetime fields support exact-matching\n(`:`) as well as less-than (`<`) and greater-than (`>`). The\nsearchable fields are:\n\n`id` , `name` , `registered_at` , `last_authenticated_at` , `serial` , `note` , `hardware_uuid` , `device_type` , `will_block_at`\n\nSearch clauses can be combined with the ` AND ` and ` OR ` operators.\n\nFor more information, see the [search documentation](https://www.kolide.com/docs/developers/api#search).\n"
        required: false
        examples:
          'id:':
            summary: search the 'id' property of the Device records
            value: id:["a", "b", "c"]
          'name:':
            summary: search the 'name' property of the Device records using ':' operator
            value: name:string
          name~:
            summary: search the 'name' property of the Device records using '~' operator
            value: name~string
          'registered_at:':
            summary: search the 'registered_at' property of the Device records using ':' operator
            value: registered_at:2000-01-08T20:38:21Z
          registered_at<:
            summary: search the 'registered_at' property of the Device records using '<' operator
            value: registered_at<2000-01-08T20:38:21Z
          registered_at>:
            summary: search the 'registered_at' property of the Device records using '>' operator
            value: registered_at>2000-01-08T20:38:21Z
          'last_authenticated_at:':
            summary: search the 'last_authenticated_at' property of the Device records using ':' operator
            value: last_authenticated_at:2000-01-08T20:38:21Z
          last_authenticated_at<:
            summary: search the 'last_authenticated_at' property of the Device records using '<' operator
            value: last_authenticated_at<2000-01-08T20:38:21Z
          last_authenticated_at>:
            summary: search the 'last_authenticated_at' property of the Device records using '>' operator
            value: last_authenticated_at>2000-01-08T20:38:21Z
          'serial:':
            summary: search the 'serial' property of the Device records using ':' operator
            value: serial:string
          serial~:
            summary: search the 'serial' property of the Device records using '~' operator
            value: serial~string
          'note:':
            summary: search the 'note' property of the Device records using ':' operator
            value: note:string
          note~:
            summary: search the 'note' property of the Device records using '~' operator
            value: note~string
          'hardware_uuid:':
            summary: search the 'hardware_uuid' property of the Device records using ':' operator
            value: hardware_uuid:string
          hardware_uuid~:
            summary: search the 'hardware_uuid' property of the Device records using '~' operator
            value: hardware_uuid~string
          'device_type:':
            summary: search the 'device_type' property of the Device records using ':' operator
            value: device_type:enumerated-value
          'will_block_at:':
            summary: search the 'will_block_at' property of the Device records using ':' operator
            value: will_block_at:2000-01-08T20:38:21Z
          will_block_at<:
            summary: search the 'will_block_at' property of the Device records using '<' operator
            value: will_block_at<2000-01-08T20:38:21Z
          will_block_at>:
            summary: search the 'will_block_at' property of the Device records using '>' operator
            value: will_block_at>2000-01-08T20:38:21Z
        schema:
          type: string
      responses:
        '200':
          description: A paginated collection of Devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: A Device is a computer or mobile device enrolled into Kolide
                    type: array
                    items:
                      $ref: '#/components/schemas/device'
                  pagination:
                    type: object
                    description: Information about the current and next pages of results
                    properties:
                      next:
                        type: string
                        format: uri
                        description: The full URL that should be used to fetch the next page of results. This will be blank if there are no more results to fetch
                        example: https://api.kolide.com/devices?per_page=10&cursor=Imyw
                      current_cursor:
                        type: string
                        description: the pagination cursor used to fetch this page of results
                        example: Miwy
                      next_cursor:
                        type: string
                        description: 'the pagination cursor that can be used to fetch the page of results following the current page. This will be blank if there are no more results to fetch '
                        example: NCw0
                      count:
                        type: integer
                        description: the number of records in the current page of results
                        example: 10
        '401':
          description: An 'unauthorized' response may occur for features restricted by or unavailable to your organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: an error message describing why the endpoint is unavailable
                    example: This feature has been disabled by your organization
        '403':
          description: A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: a succinct error message
                    example: Forbidden
                  message:
                    type: string
                    description: A longer-form error message explaining the reason for the response
                    example: The API key used is not authorized to perform this action
      tags:
      - Devices
  /devices/{id}:
    get:
      summary: Fetch information for a specific Device
      parameters:
      - name: x-kolide-api-version
        in: header
        description: Specify the API version to be used
        required: false
        schema:
          type: string
          default: '2023-05-26'
      - name: id
        in: path
        required: true
        description: The ID of the device
        schema:
          type: string
      responses:
        '200':
          description: A Device is a computer or mobile device enrolled into Kolide
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/device'
        '401':
          description: An 'unauthorized' response may occur for features restricted by or unavailable to your organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: an error message describing why the endpoint is unavailable
                    example: This feature has been disabled by your organization
        '403':
          description: A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: a succinct error message
                    example: Forbidden
                  message:
                    type: string
                    description: A longer-form error message explaining the reason for the response
                    example: The API key used is not authorized to perform this action
      tags:
      - Devices
    delete:
      summary: Delete a specific Device
      description: 'Mark a device as pending deletion. Note that the deletion will not

        happen immediately: the deletion can be canceled in the web

        interface until the device is actually deleted. The Kolide agent

        on the device will also be disabled to prevent re-enrollment.

        If this device is the only registered device for a user, their

        Trust-On-First-Use (TOFU) status will be reset, allowing them to

        register another device without needing admin approval.

        '
      parameters:
      - name: x-kolide-api-version
        in: header
        description: Specify the API version to be used
        required: false
        schema:
          type: string
          default: '2023-05-26'
      - name: id
        in: path
        required: true
        description: The ID of the device
        schema:
          type: string
      responses:
        '200':
          description: The deleted Device
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/device'
        '401':
          description: An 'unauthorized' response may occur for features restricted by or unavailable to your organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: an error message describing why the endpoint is unavailable
                    example: This feature has been disabled by your organization
        '403':
          description: A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: a succinct error message
                    example: Forbidden
                  message:
                    type: string
                    description: A longer-form error message explaining the reason for the response
                    example: The API key used is not authorized to perform this action
      tags:
      - Devices
components:
  schemas:
    device_registration:
      type: object
      properties:
        device_id:
          type: string
          description: The unique identifier for the device registration
        registered_at:
          type: string
          description: The date and time the device registration was created
          format: date-time
        registered_owner_info:
          allOf:
          - description: Information for fetching the complete data on the registered owner of the device
          - $ref: '#/components/schemas/link-object'
        device_info:
          allOf:
          - description: Information for fetching the complete data on the device
          - $ref: '#/components/schemas/link-object'
    device_authentication_mode_request_body:
      type: object
      properties:
        authentication_mode:
          type: string
          description: 'Describes the authentication mode for this device. Must be one of: only_registered_owner, only_registered_owner_or_group_members, anyone'
        person_group_ids:
          description: 'The identifiers for the groups that should be allowed to

            authenticate with this device. Ignored if the auth_mode is not

            ''only_registered_owner_or_group_members''

            '
          type: array
          items:
            type: integer
    check_result:
      type: object
      properties:
        check_id:
          type: string
          description: The canonical identifier for the check
        check_slug:
          type: string
          description: The human-readable stable identifier for this check
        check_name:
          type: string
          description: The name of the check
        device_id:
          type: string
          description: The canonical identifier for the device
        device_display_name:
          type: string
          description: The display name of the device
        ran_at:
          type: string
          description: The timestamp the check was most recently run on the device
          format: date-time
        exemption_reason:
          type: string
          description: The reason the device was marked as exempt from this check. Null if not exempted
        exemption_expires_at:
          type: string
          description: The time the exemption expires. Null if not exempted
          format: date-time
        check_result_data:
          description: The full set of information used to determine the status of the check result
          type: array
          items:
            type: string
        status:
          type: string
          enum:
          - unknown
          - passing
          - failing
          - errored
          - inapplicable
          - stale
          - pending
          - out_of_scope
          description: The status of the check
    person_group:
      type: object
      properties:
        id:
          type: string
          description: The canonical identifier for this group
        name:
          type: string
          description: The human-readable name for this group
    check_refresh:
      type: object
      properties:
        device_id:
          type: string
          description: The identifier of the device the check refresh was requested
        check_id:
          type: string
          description: The identifier of the check to be re-run
        check_refresh_initiated_at:
          type: string
          description: The UTC timestamp describing the check refresh was initiated
          format: date-time
    issue:
      type: object
      properties:
        id:
          type: string
          description: The canonical identifier for this Issue
        issue_key:
          type: string
          description: 'The name of the primary key that distinguishes one Issue from

            another in the context of a single Check. Only applicable for

            Checks that can produce multiple Issues

            '
        issue_value:
          type: string
          description: 'The primary identifying value that distinguishes the Issue from

            other instances of the failing Check. Only applicable for Checks

            that can produce multiple Issues

            '
        title:
          type: string
          description: The short description of the Issue
        value:
          type: object
          description: Relevant data that describes why the device failed the Check
        exempted:
          type: boolean
          description: Whether this Issue has been granted an exemption
        resolved_at:
          type: string
          description: The timestamp when this Issue was resolved. Will be null if the Issue is open.
          format: date-time
        detected_at:
          type: string
          description: A timestamp describing when the Issue was initially detected
          format: date-time
        blocks_device_at:
          type: string
          description: 'A timestamp describing the time after which the Issue will cause

            the associated Device to be blocked from authenticating. This

            property will be null if the check is not configured to block

            authentication for the device.

            '
          format: date-time
        device_information:
          allOf:
          - description: Information for fetching the complete data on the device for which this issue was generated
          - $ref: '#/components/schemas/link-object'
        check_information:
          allOf:
          - description: Information for fetching the Check that defines the conditions causing this Issue to be generated
          - $ref: '#/components/schemas/link-object'
        last_rechecked_at:
          type: string
          description: 'The timestamp when this Issue was last rechecked.

            '
          format: date-time
    check_refresh_request_body:
      type: object
      properties:
        check_id:
          type: string
          description: The identifier of the check that should be refreshed on the device
    device_authentication_mode:
      type: object
      properties:
        device_id:
          type: string
          description: The canonical identifier for the device
        authentication_mode:
          type: string
          description: 'Authentication mode describing who can authentication with this device.  Must be one of: only_registered_owner, only_registered_owner_or_group_members, anyone'
        person_groups:
          description: Description of the groups allowed to authenticate with this device
          type: array
          items:
            $ref: '#/components/schemas/person_group'
    device:
      type: object
      properties:
        id:
          type: string
          description: The canonical identifier for this device
        name:
          type: string
          description: The canonical human name for the device. May be edited via the web interface.
        registered_at:
          type: string
          description: The timestamp representing when the device was registered to its current owner
          format: date-time
        last_authenticated_at:
          type: string
          description: The timestamp representing when the device last authenticated with Kolide
          format: date-time
        last_seen_at:
          type: string
          description: The timestamp when the device was last seen by the Kolide agent
          format: date-time
        registered_owner_info:
          allOf:
          - description: Information for fetching the complete data on the registered owner of the device
          - $ref: '#/components/schemas/link-object'
        operating_system:
          type: string
          description: The operating system installed on the device
        hardware_model:
          type: string
          description: The specific hardware model of the device
        serial:
          type: string
          description: The hardware serial of the device. May not be applicable
        hardware_uuid:
          type: string
          description: The hardware UUID/UDID for the device. May not be applicable for some devices
        note:
          type: string
          description: Notes provided by a Kolide administrator (in markdown format)
        auth_state:
          type: string
          enum:
          - Will Block
          - Blocked
          - Notified
          - Good
          description: 'The authorization status of the device, one of: ''Good'', ''Notified'', ''Will Block'' or ''Blocked'''
        will_block_at:
          type: string
          description: If the auth status is 'Will Block', this timestamp describes when the device will be blocked by a failing check
          format: date-time
        product_image_url:
          type: string
          description: The URL of the device's product image
        auth_configuration:
          allOf:
          - description: Object describing the authentication configuration for the device. Will be null if the device is not registered.
          - $ref: '#/components/schemas/device_authentication_mode'
        device_type:
          type: string
          enum:
          - Mac
          - Linux
          - Windows
          - iOS
          - Android
          description: The platform type of the device
        form_factor:
          type: string
          enum:
          - Computer
          - Tablet
          - Phone
          description: The form factor of the device
    link-object:
      type: object
      properties:
        identifier:
          type: string
          description: the canonical identifier for this object
        link:
          type: string
          format: url
          description: the API URL where complete information about this object can be found
  securitySchemes:
    api_key:
      type: http
      scheme: bearer
